@model PAWA.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel="stylesheet" href="~/App_Themes/Login.css" type="text/css" />
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
</head>
<body>
@using (Html.BeginForm())
{
    <br />
     <div id="stripecut">
        <div id="logo"></div>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="outer-panel">
        <div id="main-panel">
            <div id="panel-header" style="font-family: Constantia"><b>Register</b></div>
            <div id="inner-panel">
                <fieldset>
                    <legend>User</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Username)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Password)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Country)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Country)
                        @Html.ValidationMessageFor(model => model.Country)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DateOfBirth)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DateOfBirth)
                        @Html.ValidationMessageFor(model => model.DateOfBirth)
                    </div>

                    @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male" })
                    @Html.Label("male", "Male")
                    @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })
                    @Html.Label("female", "Female")

                    <p>
                        <input type="submit" value="Create" />

                        <a href="javascript:history.go(-1);">
                            <input type="button" value="Cancel" />
                        </a>
                    </p>
                </fieldset>
                <br />
            </div>
        </div>
    </div>
    </div>     
}
         </body>
    </html>
