@model PAWA.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel="stylesheet" href="~/App_Themes/Login.css" type="text/css" />
    <link rel="stylesheet" href="~/App_Themes/CreateUser.css" type="text/css" />
    <script src="~/Scripts/jquery-1.6.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <link rel="stylesheet" href="~/App_Themes/PAWA_jQuery_Theme/jquery-ui-1.10.3.custom.css">
    <script>
        $(document).ready(function () {
            $("#DateOfBirth").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, yearRange: "1900:nn" });
            $("#DateOfBirth").attr("readonly", "readonly");
            $("#Username").attr("onblur", "usernameCheck()");
            $("span[data-valmsg-for|=Username]").css("color", "#AA4444");
            usernameCheck()
        });
        var usernameCheck = function () {
            $.post("./_ExistingUser", { Username: $("#Username").val().toString() }, function (data) {
                if ((data + "").toLocaleLowerCase() != "ok") {
                    $("span[data-valmsg-for|=Username]").empty().append(data);
                } else { $("span[data-valmsg-for|=Username]").empty(); }
            });
        }
    </script>
</head>
<body>
@using (Html.BeginForm())
{
    <br />
     <div id="stripecut">
        <div id="logo"></div>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="outer-panel">
        <div id="main-panel">
            <div id="panel-header"><b>Register</b></div>
            <div id="inner-panel">
                <fieldset>
                    <legend>User</legend>

                    @Html.ValidationMessageFor(model => model.Username)
                    <div class="editor-label">
                        @Html.Label("User Name")
                        @Html.EditorFor(model => model.Username)
                    </div>

                    @Html.ValidationMessageFor(model => model.Password)
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class="text-box" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email)
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email)
                    </div>

                    @Html.ValidationMessageFor(model => model.Country)
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Country)
                        @Html.DropDownListFor(m => m.Country, (IEnumerable<SelectListItem>)ViewBag.CountryList)
                    </div>

                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                    <div class="editor-label">
                        @Html.Label("Date Of Birth")
                        @Html.EditorFor(model => model.DateOfBirth)
                    </div>
                    <div class="radio-label">
                        @Html.LabelFor(model => model.Gender)
                        <div id="radio-male">
                            @Html.RadioButtonFor(model => model.Gender, "Male", new { id = "male", @checked = "checked" })
                            @Html.Label("male", "Male")
                        </div>
                        <div id="radio-female">
                            @Html.RadioButtonFor(model => model.Gender, "Female", new { id = "female" })
                            @Html.Label("female", "Female")
                        </div>
                    </div>
                </fieldset>

                <input type="submit" value="Create" />
                <a href="~/Account/Login">
                    <input type="button" value="Cancel" />
                </a>
            </div>
        </div>
    </div>
    </div>     
}
         </body>
    </html>
