@model PAWA.ViewModels.UserViewModel
@{
    ViewBag.Title = "EditUser";
    
}
<link href="~/App_Themes/EditUser.css" type="text/css" rel="stylesheet" />
<div id="outer-panel">
        <div id="main-panel">
            <div id="panel-header" style="font-family: Constantia"><b>Edit Profile</b></div>
            <div id="inner-panel">
        @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            <span class="form-text">@Html.Label("Email:")</span>@Html.TextBoxFor(m => m.Email)<br />@Html.ValidationMessageFor(m => m.Email)
            <span class="form-text">@Html.Label("Old Password:")</span>@Html.PasswordFor(m => m.OldPassword)<br />@Html.ValidationMessageFor(m => m.OldPassword)
            <span class="required"></span><span class="form-text">@Html.Label("New Password:")</span>@Html.PasswordFor(m => m.Password, new { Value = "" })<span class="form-helper">@Html.ValidationMessageFor(m => m.Password)</span><br />
            <span class="required"></span><span class="form-text">@Html.Label("Confirm Password:")</span>@Html.PasswordFor(m => m.ConfirmPassword, new { Value = "" })<span class="form-helper">@Html.ValidationMessageFor(m => m.Password)</span><br />
            <span class="required"></span><span class="form-text">@Html.Label("Country:")</span>@Html.DropDownListFor(m => m.Country, (IEnumerable<SelectListItem>)ViewBag.CountryList)<br />
            <span class="form-text">Gender:</span><span>Male</span>@Html.RadioButton("Gender", PAWA.Models.Gender.Male, (Model.Gender == PAWA.Models.Gender.Male) ? true : false)
            <span>Female</span>@Html.RadioButton("Gender", PAWA.Models.Gender.Female, (Model.Gender == PAWA.Models.Gender.Female) ? true : false)<br />
            <span></span><button value="submit" name="button">Save Changes</button>
            <span></span><button value="cancel" name="button">Cancel</button>
            <span></span><button value="delete" name="button">Close Account</button>
        }
    </div>
</div>
</div>
<script>
    $("#center-content").position({ my: "center top", at: "center top", of: "#body-area" });

</script>


