@model PAWA.ViewModels.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/App_Themes/Login.css" type="text/css" />
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
</head>
<body>
    
    @using(Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
     <div id="stripecut">
        <div id="logo"></div>
        <div id="outer-panel">
            <div id="main-panel">
                <div id="panel-header" style="font-family: Constantia"><b>Sign In</b></div>
                <div id="inner-panel">
                    <fieldset>
                        <legend>Login</legend>
                    
                        @Html.ValidationMessage("DeletedUser")
                        @Html.ValidationMessage("IncorrectLogin")
                        @Html.ValidationMessageFor(model => model.Username)
                        <div class="editor-label">
                            @Html.Label("User Name")
                            @Html.TextBoxFor(m => m.Username, new { @class = "text-box" })
                        </div>
                            @Html.ValidationMessageFor(model => model.Password)
                        <div>
                            @Html.Label("Password")
                            @Html.PasswordFor(m => m.Password, new { @class = "text-box" })
                        </div>
                    </fieldset>
                    <input type="button" class="buttonlogin" onclick="GoToCreateUser()" value="Register" />
                    <input type="submit" name="submit" value="Submit" class="buttonlogin" />           
                </div>
            </div>
        </div>
    </div>
    }

    <script>
        function GoToCreateUser() {
            window.location = "./CreateUser";
        }
    </script>
</body>

</html>
