@model PAWA.ViewModels.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/App_Themes/Login.css" type="text/css" />
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
</head>
<body>
    
    @using(Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IncorrectLogin);
        <br />
     <div id="stripecut">
        <div id="logo"></div>
        <div id="outer-panel">
            <div id="main-panel">
                <div id="panel-header" style="font-family: Constantia"><b>Sign In</b></div>
                <div id="inner-panel">
                    @Html.Label(Model.IncorrectLogin, new { @class="field-validation-error" })
                    @Html.ValidationMessageFor(model => model.IncorrectLogin)
                    @Html.ValidationMessageFor(model => model.Username)
            <div>
            Username: <input type="text" class="textbox" name="Username" />
            </div>
                    @Html.ValidationMessageFor(model => model.Password)
            <div>
            Password: <input type="password" class="textbox" name="Password" />
            </div>
   <center>&nbsp&nbsp&nbsp&nbsp<button type="button" class="buttonlogin" style="width: 74px; height: 23px; font-style: italic; font: message-box" onclick="GoToCreateUser()">Register</button>
         
       <input type="submit" name="submit" value="Submit" style="width: 74px; height: 23px; font-style: italic; font: message-box" class="buttonlogin" /></center> 
                     <br /> User: TVMegaFan <br />Password: qwert
            <br /> Admin: CaptalAngine <br />Password: 12345
           
        </div>
                 </div>
             </div>
          </div>
        
    }

    <script>
        function GoToCreateUser() {
            window.location = "./CreateUser";
        }
    </script>
</body>

</html>
