@using System.Web.Optimization

@model PAWA.Models.Folder
@{
    ViewBag.Title = "Album";
}
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

<link rel="stylesheet" href="~/App_Themes/Album.css" type="text/css" />

<script src="~/Scripts/CreateFolder.js"></script>
<div id="body-area">
    <div id="body-content-area">
        @using (Html.BeginForm("Album", "Home", FormMethod.Post))
        {
            <select name="DropDownList" id="DropDownList">
                <option value="Edit">Edit Selected</option>
                <option value="Move">Move Selected</option>
                <option value="Delete">Delete Selected</option>
            </select>
            
            <input type="submit" name="Submit" value="Go" />

            <input type="button" name="Create" value="Create Folder" id="body-content-button-create" />
            
            <input type="button" name="CreateFolderNOW" value="NOW Create a damn Folder" id="CreateFolderNOW" />
                      
            
            
            PAWA.Classes.AlbumGrid ag = new PAWA.Classes.AlbumGrid(new PAWA.DAL.PAWAContext());
           @Html.Raw(ag.CreateTable((int?)ViewBag.FolderID));
            
            <input type="submit" name="NextPage" value="Next Page" id="body-content-button-next" disabled /> 
            <input type="button" name="GoToTop" value="Go To Top" id="body-content-button-top"  />
            
            <div class="folderPopUp" id="create-folder" title="Create a Folder">
                @using (Ajax.BeginForm("CreateFolder", "Folders", new AjaxOptions { UpdateTargetId = "ID", OnSuccess = "onSuccess" }))
                {
                    <div>
                        <fieldset>
                            <legend>Create Folder</legend>

                            @Html.LabelFor(m => m.FolderName)
                            @Html.TextBoxFor(m => m.FolderName)
                            <!--<input type="text" name="FolderName" id="FolderName" /> -->

                            @Html.LabelFor(m => m.InFolderID)
                            @Html.TextBoxFor(m => m.InFolderID)
                            <!--<input type="text" name="InFolderID" id="InFolderID" />-->
                         
                            <p>
                               <input type="button" value="Create" onclick="create()" />
                            </p>

                        </fieldset>
                    </div>
                }

                <div id="Stupid-folder-create" title="Create a damn Folder you Idiot thing">
                    <label>Folder Name Here:</label>
                    <input type="text" id="FolderName" />
                    <label>ID of Folder Here:</label>
                    <input type="text" id="InFolderID" />

                    <p><input type="button" value="Create a stupid folder" onclick="folderAlert();" /></p>

                </div>

            </div>
        }
    </div>
</div>



<!--
<script type="text/javascript">
    self.create = function () {

        var folder = {
            FolderName: $('#FolderName').val(),
            InFolderID: $('#InfolderID').val(),
        };

        $.ajax({
            url: 'Folders/CreateFolder', /*may be something else*/
            cache: false,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(folder),
            statusCode: {
                201 /*Created*/: function (data) {
                    self.folders.push(data);
                }
            }
        })
        /* need to work out how to post the folder object through the controller and folder class */
    }


</script> -->


<script type="text/javascript">

    $(document).ready(function () {
        $("input[name='Submit']").click(function () {
            if ($('#DropDownList').val() == "Delete") {

                //check if anything was selected
                if (!hasChecked()) {
                    //Nothing was so show a message.
                    alert("You have not selected any images to delete.");
                    return;
                }

                return confirm('These images will be permanently deleted. Do you wish to continue?');
            }
        });
    });
</script>

<script type="text/javascript">
    function hasChecked() {
        //Get input elements
        var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;  

        //For all elements
        for (var i = 0; i < inputs.length; i++) {
            //If it is a checkbox
            if (inputs[i].type == "checkbox") 
            {
                //That is selected
                if (inputs[i].checked) {
                    //Then something was
                    return true;
                }
            }
        }
        //Nothing was selected
        return false;
    };
</script>

<script>
    $("#body-content-button-create").position({ my: "right top", at: "right-4 top+2", of: "#body-content-area", collision: "none" });
    $("#body-content-button-next").position({ my: "center bottom", at: "center bottom-2", of: "#body-content-area", collision: "none" });
    $("#body-content-button-top").position({ my: "right bottom", at: "right-4 bottom-2", of: "#body-content-area", collision: "none" });
    $(".body-content-table-checkbox").each(function () {
        $(this).position({ my: "right bottom", at: "right-5 bottom-5", of: $(this).parent().children("img"), collision: "none" });
    });
    $(".body-content-table-folder-text").each(function () {
        $(this).position({ my: "center", at: "center center+10", of: $(this).parent().children("img"), collision: "none" });
    });
</script>
