@model PAWA.ViewModels.AlbumViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Album";
}
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

<link rel="stylesheet" href="~/App_Themes/Album.css" type="text/css" />
<script src="~/Scripts/GridOptionHandle.js" type="text/javascript"></script>

<script src="~/Scripts/CreateFolder.js"></script>
<div id="page-top"></div>
 <div id="outer-panel">
            <div id="main-panel">
                <div id="panel-header" style="font-family: Constantia"><b>My Photos</b></div>
                <div id="inner-panel">
                    
        @using (Html.BeginForm("Album", "Home", FormMethod.Post))
        {
            @Html.Hidden("FolderID", Model.FolderID.ToString())
            @Html.Hidden("InFolderID", Model.InFolderID.ToString())
            <br />
            <select name="DropDownList" id="DropDownList">
                <option value="Edit">Edit Selected</option>
                <option value="Move">Move Selected</option>
                <option value="Delete">Delete Selected</option>
            </select>
          
            <input type="submit" name="Submit" value="Go" />
            <input type="button" name="Back" value="Go Up A Folder" id="body-content-button-back" />
            @* Matt, I don't know what this is, but it puts a big greyish square on the 
                    view(http://i.imgur.com/zfpxSrl.png), so I'm commenting it out. -Jarrad
                    <div id="moveButton"></div> *@
            <input type="button" name="Create" value="Create Folder" id="body-content-button-create" />
            
            foreach (var table in Model.AlbumGridTable)
            {
                @Html.Raw(table);
            }
            <br />
            <input type="button" name="NextPage" value="Next Page" id="body-content-button-next" />
            <a href="#page-top"><input type="button" value="Go To Top" id="body-content-button-top" /></a>
            
            

                <div id="folder-create" title="Create a Folder">
                    <label>Folder Name:</label>
                    <input type="text" id="FolderName" style="position:relative;left:20px" />
                    <br /><label>Location:</label>
                    <select id="InFolderID" style="position:relative;left: 62px;width: 211px;">
                        @{
                            PAWA.Classes.Tools toolbox = new PAWA.Classes.Tools();
                            IList<PAWA.Models.Folder> folderlist = toolbox.getFolders(WebSecurity.CurrentUserId);

                            for (int i = 0; i < folderlist.Count;i++ ) {
                                @:<option value="
                                    @Html.Raw(folderlist.ElementAt(i).FolderID.ToString());
                                        @:">
                                        @Html.Raw(folderlist.ElementAt(i).FolderName);
                                  @:</option>

                            }   
                        }
                    </select>
                    <br /><br /><div style="text-align:center">
                        <input type="button" value="Create" onclick="folderAlert();" />
                    </div>

                </div>

            
        }
                    </div>
<div id="resultPopup" title="A popup box"></div>
                
    </div>
</div>



<!--
<script type="text/javascript">
    self.create = function () {

        var folder = {
            FolderName: $('#FolderName').val(),
            InFolderID: $('#InfolderID').val(),
        };

        $.ajax({
            url: 'Folders/CreateFolder', /*may be something else*/
            cache: false,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(folder),
            statusCode: {
                201 /*Created*/: function (data) {
                    self.folders.push(data);
                }
            }
        })
        /* need to work out how to post the folder object through the controller and folder class */
    }


</script> -->


<script type="text/javascript">
   
    $(document).ready(function () {

        var address = window.location.toString();
        address = address.substring(address.search("/Home/Album"), address.length);
        if (address == "/Home/Album") {
            //hide button
            $("#body-content-button-previous").hide();
        }
        $("input[name='Submit']").click(function () {
            if ($('#DropDownList').val() == "Delete") {

                //check if anything was selected
                if (!hasChecked()) {
                    //Nothing was so show a message.
                    alert("You have not selected any images to delete.");
                    return;
                }

                return confirm('These images will be permanently deleted. Do you wish to continue?');
            }
        });
    });
</script>

<script type="text/javascript">
    function hasChecked() {
        //Get input elements
        var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;  

        //For all elements
        for (var i = 0; i < inputs.length; i++) {
            //If it is a checkbox
            if (inputs[i].type == "checkbox") {
                //That is selected
                if (inputs[i].checked) {
                    //Then something was
                    return true;
                }
            }
        }
        //Nothing was selected
        return false;
    };
</script>

<script type="text/javascript">
    function countChecked() {
        //Get input elements
        var count = 0;
        var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;  
        var ids = "";
        //For all elements
        for (var i = 0; i < inputs.length; i++) {
            //If it is a checkbox
            if (inputs[i].type == "checkbox") {
                //That is selected
                if (inputs[i].checked) {
                    count--;
                    ids += i;
                }
            }
        }
        if (count == -1)
        { return ids; }
        else
        { return count; }
    };


    $(document).ready(function () {
        $("input[name='Submit']").click(function () {
            if ($('#DropDownList').val() == "Edit") {
                var count = countChecked();
                //check if anything was selected
                if (count == 0 || count <= -2) {
                    //Nothing was so show a message.
                    alert("You cannot perform Edit Selected on " + (-count) + " items.");
                    return;
                }
                else {
                    var inputs = document.getElementsByTagName("input");
                    var re = "_folder";
                    window.open("/Folder/EditFolder?FolderID=" + inputs[count].id.replace(re, ""));


                    /*var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;
                    window.open("/Image/UpdateImage?filename=" + inputs[count].name);
                    return;*/
                }

            }
        });
    });
</script>

<script>
    var count = 1;
    $(document).ready(Position());

    function Position()
    {
        // Check this first, because hiding the next page button will mess with the positioning of go to top button,
        // so reposition after hide.
        CheckMorePages();
        CheckInFolder();

        $("#page-top").position({ my: "center top", at: "center top", of: "body", collision: "none" });
        $("#body-content-button-create").position({ my: "right bottom", at: "right-2 top-2", of: ".body-content-table", collision: "none" });
        $("#body-content-button-next").position({ my: "center top", at: "center bottom+2", of: "#table-" + (count - 1), collision: "none" });
        $("#body-content-button-top").position({ my: "right top", at: "right-2 bottom+2", of: "#table-" + (count - 1), collision: "none" });
        $(".body-content-table-checkbox").each(function () {
            $(this).position({ my: "right bottom", at: "right-5 bottom-5", of: $(this).parent().children("img"), collision: "none" });
        });
        $(".body-content-table-folder-text").each(function () {
            $(this).position({ my: "center", at: "center center+10", of: $(this).parent().children("img"), collision: "none" });
        });
    }

    function CheckMorePages()
    {
        var element = "#table-" + count;

        if ($(element).length == 0)
        {
            $("#body-content-button-next").attr('disabled', 'disabled');
        }
    }

    function CheckInFolder()
    {
        if ($("#FolderID").val() != "")
        {
            $("#body-content-button-back").show();
            // table-0 is guarenteed to be there, even if empty
            

            $("#body-content-button-back").click(function () {
                if ($("#InFolderID").val() == "")
                {
                    window.location = "./Album";
                }
                else
                {
                    window.location = "./Album?folderID=" + $("#InFolderID").val();
                }
            });
        }
    }

    $("#body-content-button-next").click(function() {
        var element = "#table-" + count;
        $(element).show();
        count++;
        Position();
    });
        
</script>
