@model PAWA.Models.Folder

@{
    ViewBag.Title = "EditFolder";
}
<link rel="stylesheet" href="~/App_Themes/Index.css" type="text/css" />

@using (Html.BeginForm("EditFolder", "Folder", FormMethod.Post))
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div id="outer-panel">
        <div id="main-panel">
        <div id="panel-header" style="font-family: Constantia"><b>Edit Folder Info</b></div>
        <div id="inner-panel">

        <div class="editor-label">
            @Html.LabelFor(model => model.InFolderID, "Location")
        </div>
        <div class="editor-field">
            @Html.DropDownList("InFolderID", "Album Home")
            @Html.ValidationMessageFor(model => model.InFolderID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FolderName)
        </div>
        <div class ="editor-field">
            @Html.EditorFor(model => model.FolderName)
			@Html.ValidationMessageFor(model => model.FolderName)
        </div>
       <input type="hidden" name="fid" value="@ViewBag.fid" />

        @Html.ValidationMessage("InFError")

        <p>
            <input type="submit" name="saveChanges" value="Save" />
            <input type="submit" name="cancelChanges" value="Cancel" />
        </p>
        </div>
        </div>
        </div>
}

@*<script type ="text/javascript">
    $(document).ready(function () {
        var isFail = @Html.

    });
</script>*@
