@model PAWA.Models.Folder

@{
    ViewBag.Title = "EditFolder";
}

<h2>Edit Folder</h2>

@using (Html.BeginForm("EditFolder", "Folder", FormMethod.Post))
{
    <fieldset>
        <legend>Folder</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.InFolderID, "Location")
        </div>
        <div class="editor-field">
            @Html.DropDownList("InFolderID", "Album Home")
            @Html.ValidationMessageFor(model => model.InFolderID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FolderName)
        </div>
        <div class ="editor-field">
            @Html.EditorFor(model => model.FolderName)
			@Html.ValidationMessageFor(model => model.FolderName)
        </div>
       <input type="hidden" name="fid" value="@ViewBag.fid" />

        @Html.ValidationMessage("InFError")

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

    <div>
    @Html.ActionLink("Cancel", "Album", "Home", new { area = "" }, null)
    </div>