<link rel="stylesheet" href="~/App_Themes/Index.css" type="text/css" />
<link rel="stylesheet" href="~/App_Themes/ViewUser.css" type="text/css" />
@model PAWA.Models.User

<div id="outer-panel">
    <div id="main-panel">
        <div id="panel-header" style="font-family: Constantia"><b>Edit Tag</b></div>
        <div id="inner-panel">

            <b>@Html.DisplayNameFor(model => model.UserID) :</b>
            @Html.DisplayFor(model => model.UserID)
            <br />
            <b>@Html.DisplayNameFor(model => model.Username) : </b>
            @Html.DisplayFor(model => model.Username)
            <br />
            <b>@Html.DisplayNameFor(model => model.Email) :</b>
            @Html.DisplayFor(model => model.Email)
            <br />
            <b>@Html.DisplayNameFor(model => model.JoinDateTime) :  </b>
            @Html.DisplayFor(model => model.JoinDateTime)
            <br />
            <b>@Html.DisplayNameFor(model => model.Status) :</b>
            @Html.DisplayFor(model => model.Status)
            <br />
            <!-- If deletedate is null, set the return to "--" else, datetime -->
            <b>@Html.DisplayNameFor(model => model.DeleteDateTime) : </b>

            @{
                string isNull = null;
                if (Model.DeleteDateTime == null)
                {
                    isNull = "--";
                }
                else { isNull = Model.DeleteDateTime.ToString(); }
            }
            @(isNull)
            <br />
            <b>@Html.DisplayNameFor(model => model.Country) :  </b>
            @Html.DisplayFor(model => model.Country)
            <br />
            <b>@Html.DisplayNameFor(model => model.DateOfBirth) :    </b>
            @Html.DisplayFor(model => model.DateOfBirth)
            <br />
            <b>@Html.DisplayNameFor(model => model.Gender) :  </b>
            @Html.DisplayFor(model => model.Gender)

            <p>
                @Html.ActionLink("Edit", "/UserManagement/", null, new { @class = "buttonEdit" })
                @Html.ActionLink("Back", "/ViewUser/", null, new { @class = "button" })
            </p>
              <br />
            <br />
        </div>
    </div>
</div>
